# Jupyter Notebook and cache
.ipynb_checkpoints
src/*/__pycache__/*

# Virtual environment
/venv*/

# Scenarion folders in the data folder
data/*/*
friend_embeddings/*
*.trig

# MAc files
.idea/*
.DS_Store

